#user-container{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  animation: slideIn 0.2s linear 1;
  overflow: auto;
}

.board{
  width: 476px;
  height: 476px;
  margin: auto;
  display: block;
}

.board-tile{
  display: inline-block;
  background-color: #CCC;
  border-radius: 10%;
  margin: 9px;
  width: 140px;
  height: 140px;
  cursor: not-allowed;
}

.board-tile.enabled{
  background-color: #DDD;
  cursor: pointer;
}

.board-tile.enabled:hover{
  background-color: #EEE;
}

.modal-title {
    margin-bottom: 0;
    flex-grow: 1;
    line-height: 1.5;
}

.modal-header .close {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

.close {

}

.modal-header{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: center;
  flex-direction: row;
}

@keyframes slideIn{
  0%{
    right: -400px;
  }
  100%{
    right: 0px;
  }
}

html, body, #root, #app {
  margin: 0px;
  height: 100%;
  position: relative;
}
