.inline-block{
  display: inline-block;
}

.right{
  float: right;
}

.left{
  float: left;
}

.game-list{
  position: relative;
}

.table-no-items{
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
}

#user-container{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  animation: slideIn 0.2s linear 1;
  overflow: auto;
}

.overlay {
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2000;
  top: 0px;
  left: 0px;
  overflow: auto;
  position: fixed;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: auto;
  position: absolute;
}

.loading-overlay.bg {
  background-color: #FFFFFF;
}

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  border: 5px solid #999;
  border-top: 5px solid #AAAAFF;
  margin: -32px 0px 0px -32px;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

.mini-loader{
  height: 18px;
  width: 36px;
}

.mini-loader > div{
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  height: 10px;
  width: 8px;
  opacity: 0;
  background-color: black;
  animation: mini-loader 0.75s linear infinite;
}

.mini-loader > div:nth-child(2){
  animation-delay: 0.125s;
}

.mini-loader > div:nth-child(3){
  animation-delay: 0.25s;
}

.game-window{
  margin: auto;
  overflow: auto;
  margin-top: 40px;
  border-radius: 3px;
  box-shadow: 5px 5px 2px #00000033;
  width: 480px;
  background-color: #FFFFFF;
  animation: windowPullUp 0.2s linear 1;
  position: relative;
}

.game-window .title {
  padding: 2px;
  font-size: 1.5em;
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
}

.game-window .title .close{
  font-size: 1.5em;
  line-height: 0.8em;
}

.player-info-text{
  display: inline-block;
  margin-top: 12px;
}

.board{
  width: 476px;
  height: 476px;
  margin: auto;
  display: block;
}

.board-tile{
  display: inline-block;
  background-color: #CCC;
  border-radius: 10%;
  margin: 9px;
  width: 140px;
  height: 140px;
  cursor: not-allowed;
  float: left;
}

.board-tile svg {
  animation: growIn 0.4s linear 1;
}

.board-tile.enabled{
  background-color: #DDD;
  cursor: pointer;
}

.board-tile.enabled:hover{
  background-color: #EEE;
}

.current-turn-banner{
  background-color: #333;
  margin: 5px 0px 5px 0px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  color: white;
}

.current-turn-banner.your_turn{
  background-color: #262;
}

.current-turn-banner.opponents_turn{
  background-color: #622;
}

.chatBox{
  resize: none;
  width: 100%;
}

.game-list-container{
  position: relative;
  height: calc(100% - 106px);
  overflow: auto;
}

.game-list-seletcted{
  background-color: #88F;
}

.game-list-controls{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.modal-title {
    margin-bottom: 0;
    flex-grow: 1;
    line-height: 1.5;
}

.modal-header .close {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

.close.close-large {
  font-size: 30px;
  height: 100%;
  display: block;
}

.modal-header{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: center;
  flex-direction: row;
}

@keyframes slideIn{
  0%{
    right: -400px;
  }
  100%{
    right: 0px;
  }
}

@keyframes growIn{
  0%{
    transform: scale(0);
  }
  70%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes windowPullUp{
  0%{
    margin-top: 240px;
    opacity: 0;
  }
  100%{
    margin-top: 40px;
    opacity: 1;
  }
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@keyframes mini-loader{
  0%{
    opacity: 0;
  }
  35%{
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
}


html, body, #root, #app {
  margin: 0px;
  height: 100%;
  position: relative;
}
