.inline-block{
  display: inline-block;
}

.right{
  float: right;
}

.left{
  float: left;
}

#user-container{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  animation: slideIn 0.2s linear 1;
  overflow: auto;
}

.overlay {
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2000;
  top: 0px;
  left: 0px;
  position: fixed;
}

.game-window{
  margin: auto;
  overflow: auto;
  margin-top: 100px;
  border-radius: 3px;
  box-shadow: 5px 5px 2px #00000033;
  width: 480px;
  background-color: #FFFFFF;
}

.game-window .title {
  padding: 2px;
  font-size: 1.5em;
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
}

.game-window .title .close{
  font-size: 1.5em;
  line-height: 0.8em;
}

.player-info-text{
  display: inline-block;
  margin-top: 12px;
}

.board{
  width: 476px;
  height: 476px;
  margin: auto;
  display: block;
}

.board-tile{
  display: inline-block;
  background-color: #CCC;
  border-radius: 10%;
  margin: 9px;
  width: 140px;
  height: 140px;
  cursor: not-allowed;
}

.board-tile.enabled{
  background-color: #DDD;
  cursor: pointer;
}

.board-tile.enabled:hover{
  background-color: #EEE;
}

.current-turn-banner{
  background-color: #333;
  margin-top: 5px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  color: white;
}

.current-turn-banner.your_turn{
  background-color: #262;
}

.current-turn-banner.opponents_turn{
  background-color: #622;
}

.modal-title {
    margin-bottom: 0;
    flex-grow: 1;
    line-height: 1.5;
}

.modal-header .close {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

.close {

}

.modal-header{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: center;
  flex-direction: row;
}

@keyframes slideIn{
  0%{
    right: -400px;
  }
  100%{
    right: 0px;
  }
}

html, body, #root, #app {
  margin: 0px;
  height: 100%;
  position: relative;
}
