#user-container{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  animation: slideIn 0.2s linear 1;
}

@keyframes slideIn{
  0%{
    right: -400px;
  }
  100%{
    right: 0px;
  }
}

html, body, #root, #app {
  margin: 0px;
  height: 100%;
  position: relative;
}
